.item img {
  max-width: none;
}

.item h1 {
  font-size: 15px;
}

.item #img {
  width: 260px;
}

.item {
  width: 295px;
  height: 425px;
}

.shadow-btn {
  box-shadow: 2px 5px 7px #b5b5b3;
  border-radius: 50%;
}

.pagination {
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.previous {
  @apply text-primary cursor p-3 px-5 shadow-btn  ;
}

.next {
  @apply text-primary cursor p-3 px-5 shadow-btn   m-0;
}

.item-4 ul {
  display: flex;
  justify-content: space-around;
}

.number {
  display: none;
}

//

@media screen and (max-width: 530px) {
  .item #img {
    width: 215px;
  }

  .item-4 .title {
    width: 100%;
    text-align: center;
  }

  .item-4 .title h1 {
    font-size: 30px;
    width: 100%;
  }

  .item-4 .title p {
    width: 100%;
  }

  .item {
    width: 250px;
    height: 400px;
  }
}

@media screen and (max-width: 425px) {
  .item #img {
    width: 150px;
  }

  .item .titre {
    font-size: 15px;
  }

  .item {
    width: 185px;
    height: 400px;
  }

  .icon-people {
    width: 20px;
    height: 20px;
  }
}
